html,
body,
#root {
  height: 100%;
  width: 100%;
  min-width: 768px;
  padding: 0;
  margin: 0;
}

header,
footer {
  width: 100%;
}

.map-container {
  position: relative;
}

.leaflet-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
